{% extends 'base.html' %}

{% block content %}

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}">
                        <i class="fas fa-home"></i> Home</a>
                </li>
                <li class="breadcrumb-item active"> Dashboard</li>
            </ol>
        </nav>
    </div>
</section>

<div class="p-5 container text-center">
    <h1 style="margin-bottom:2rem" class="display-4">
        Approval detail
    </h1>
    <section class="py-4">
        {% include 'partials/_alerts.html' %}
        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">Requester ID</th>
                    <th scope="col">Request date</th>
                    <th scope="col">Server or package</th>
                    <th scope="col">Criticality</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ patch.id }}</td>
                    <td>{{ patch.time }}</td>
                    <td>{{ patch.server_package }}</td>
                    <td>{{ patch.criticality}}</td>
                </tr>
                <tr>
                    <td>{{ exclude_patch.id }}</td>
                    <td>{{ exclude_patch.client }}</td>
                    <td>{{ exclude_patch.title }}</td>
                    <td>{{ exclude_patch.exclude_date }}</td>
                </tr>
            </tbody>
        </table>
    </section>

    <div>
        <br>
        <h4>Justification</h4>
        <!-- <textarea class="form-control border border-primary" rows="7"
            placeholder="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."></textarea> -->
        <textarea class="form-control border border-primary" rows="7">{{ exclude_patch.justification }}</textarea>            
    </div>

    <br>
    <button class="my-4 btn btn-primary btn-lg">Send message to requester</button>

    <hr style="margin: 1rem;">
    <div>
        <br>
        <h4>Approvers</h4>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Date of receipt</th>
                    <th scope="col">Authorized</th>
                    <th scope="col">Justification</th>
                    <th scope="col">Send notification</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John Smith</td>
                    <td>12/12/2020</td>
                    <td>Undefined</td>
                    <td><button class="btn btn-primary">Read</button></td>
                    <td><button class="btn btn-primary">Send reminder</button></td>
                </tr>
                <tr>
                    <td>John Smith</td>
                    <td>12/12/2020</td>
                    <td>Undefined</td>
                    <td><button class="btn btn-primary">Read</button></td>
                    <td><button class="btn btn-primary">Send reminder</button></td>
                </tr>
                <tr>
                    <td>John Smith</td>
                    <td>12/12/2020</td>
                    <td>Undefined</td>
                    <td><button class="btn btn-primary">Read</button></td>
                    <td><button class="btn btn-primary">Send reminder</button></td>
                </tr>
                <tr>
                    <td>John Smith</td>
                    <td>12/12/2020</td>
                    <td>Undefined</td>
                    <td><button class="btn btn-primary">Answer</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="margin-top:3rem;">
        <button class="mx-4 btn btn-primary btn-lg">Send message to admin</button>

    </div>
</div>

<section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <i class="fas fa-comment fa-4x mr-4"></i>
                <hr>
                <h2>Risk management tool</h2>
                <br>
                <h4>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae quas, asperiores eveniet vel
                    nostrum magnam
                    voluptatum tempore! Consectetur, id commodi!</h4>
            </div>
        </div>
    </div>
</section>

{% endblock %}