{% extends 'base.html' %}

{% block content %}
<!-- Showcase -->
<!-- <section id="showcase_patchList"> -->
<section>
  <div class="p-5 container text-center">
    <h1 class="display-4 mb-4">
      List of approvals
    </h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae quas, asperiores eveniet vel
      nostrum magnam
      voluptatum tempore! Consectetur, id commodi!</p>
    <br>
    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col">Requester name</th>
          <th scope="col">Request date</th>
          <th scope="col">Time</th>
          <th scope="col">Criticality</th>
          <th scope="col">Server or package</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John Smith</td>
          <td>12/12/2020</td>
          <td>12:00</td>
          <td>High</td>
          <td>RHEL</td>
          <!-- LOS COMENTARIOS EN HTML DE IGUAL FORMA EJECUTA EL CODIGO -->
          
          <td><button class="btn btn-primary btn-lg">View details</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section id="services" class="py-5 bg-secondary text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <i class="fas fa-comment fa-4x mr-4"></i>
        <hr>
        <h2>Risk management tool</h2>
        <br>
        <h4>Request the exclusion for a certain period either due to a business need or interferences between
          applications.</h4>
      </div>
    </div>
  </div>
</section>
{% endblock %}