{% extends 'base.html' %}

{% block content %}
<!-- Showcase -->
<!-- <section id="showcase_patchList"> -->
<section>
  <div class="p-5 container text-center">
    <h1 class="display-4 mb-4">
      Approval tracking
    </h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae quas, asperiores eveniet vel
      nostrum magnam
      voluptatum tempore! Consectetur, id commodi!</p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
  </form>
  </div>
</section>

<section id="services" class="py-5 bg-secondary text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <i class="fas fa-comment fa-4x mr-4"></i>
        <hr>
        <h2>Risk management tool</h2>
        <br>
        <h4>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae quas, asperiores eveniet vel
          nostrum magnam
          voluptatum tempore! Consectetur, id commodi!</h4>
      </div>
    </div>
  </div>
</section>

{% endblock %}