{% extends 'base.html' %}

<!-- comentar el jinja -->
{# {% load humanize %} #}

{% block content %}

<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">List of approvals</h1>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae quas, asperiores eveniet
          vel nostrum magnam voluptatum tempore! Consectetur, id commodi!</p>
      </div>
    </div>
  </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}">
            <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item active"> Dashboard</li>
      </ol>
    </nav>
  </div>
</section>

<section id="dashboard" class="py-4">
  <div class="container">
    {% include 'partials/_alerts.html' %}
    <div class="row">
      <div class="col-md-12">
        <h2>Welcome {{ user.username }}</h2>
        {% if patches %}
        <p>Here are the list of pending approvals</p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Requester ID</th>
              <th scope="col">Request date</th>
              <th scope="col">Criticality</th>
              <th scope="col">Server or package</th>
              <th></th>
            </tr>
          </thead>
          <tbody>

            {% for patch in patches %}
            <tr>
              <td>{{ patch.user_id}}</td>
              <td>{{ patch.time }}</td>
              <td>{{ patch.criticality}}</td>
              <td>{{ patch.server_package }}</td>
              <td>
                <!-- <button class="btn btn-primary btn-block " data-toggle="modal" data-target="#inquiryModal">View details</button> -->

                {# <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block">More Info</a> #}
                
                <a href="{% url 'approvalDetail' patch.id %}" class="btn btn-primary btn-block">More Info</a>

                {# <a href="{% url 'approvalDetail' patch.id %}" class="btn btn-primary btn-block">More Info</a> #}

                {# <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block">More Info</a> #}
              </td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
        {% else %}
        <p>You have not patches</p>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<section id="services" class="py-5 bg-secondary text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <i class="fas fa-comment fa-4x mr-4"></i>
        <hr>
        <h2>Risk management tool</h2>
        <br>
        <h4>Request the exclusion for a certain period either due to a business need or interferences between
          applications.</h4>
      </div>
    </div>
  </div>
</section>
{% endblock %}