{% extends 'base.html' %}
{% block content %}

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <!-- <li class="breadcrumb-item active"> List of exceptions</li> -->
          <li class="breadcrumb-item">
            <a href="{% url 'approvalsList' %}">
               <i class="fas fa-calendar-check"></i> List of exceptions </a>
         </li>
        </ol>
      </nav>
    </div>
  </section>

<div class="p-5 container text-center">
    <h1 style="margin-bottom:.5rem" class="display-4">
        Approval detail
    </h1>
    <section class="py-4">
        {% include 'partials/_alerts.html' %}

        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                font-size: 15px;
            }
            th, td {
                padding: 5px;
                text-align: left;
                /*font-size: 15px;*/
            }
              
            .tere { display: block; float: left; font-size: 1em; }
            .tede { display: block; font-size: 1em; }
        </style>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <h4>Type of exception:</h4>
                    {% if  justException.exception_type == 1 %}
                        <p style="font-size:1.5em;" ><u>Patch</u></p>
                    {% elif  justException.exception_type  == 2 %}
                        <p style="font-size:1.5em;"  ><u>Full server</u></p>
                        <b> This action will prevent also future coming patches in the servers.</b>
                    {% else %}
                        <p style="font-size:1.5em;"><u>Unknown</u></p>
                    {% endif %}
                </div>
                <!-- <div style="padding-top: 1.5em;" class="col-md-6">
                    <h4>Server:</h4> -->
                    {#<p >{{ justException.content }}</p>#}
                    <!-- <style>
                        .nobr { white-space: nowrap }
                    </style> -->
                        {#<span style="white-space: nowrap"><b>{{ takeServersFront }}</b></span>#}
                <!-- </div> -->
            </div>
        </div>

        <table style="font-size:2em;" class="table mt-4 table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th style="text-align:center; font-size:.5em;" scope="col">Exception ID</th>
                    <th style="text-align:center; font-size:.5em;" scope="col">Exception client</th>
                    <th style="text-align:center; font-size:.5em;" scope="col">Limit date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="text-align:center; font-size:.5em;"> {{ justException.risk_id }}</td>
                    <td style="text-align:center; font-size:.5em;">{{ justException.client }}</td>
                    <td style="text-align:center; font-size:.5em;">{{ justException.exclude_date }}</td>
                </tr>
            </tbody>
        </table>

        <br>

        <table style="width:100%; font-size: 19px;">
            <tr class="tere">
              <th >Patch ID</th>
                {% for alias in patchObjects %}
                    <td class="tede">{{ alias.id }}</td>
                {% endfor %}
            </tr>
            <tr class="tere">
              <th>Server</th>
                {% for alias in patchObjects %}
                    <td class="tede">{{ alias.server }}</td>
                {% endfor %}
            </tr>
            <tr class="tere">
              <th>Content</th>
                {% for alias in patchObjects %}
                    <td class="tede">{{ alias.advisory }}</td>
                {% endfor %}
            </tr>
            <!-- <tr class="tere"> -->
                <!-- <th>Criticality</th> -->
                  {#{% for alias in advisories %}#}
                      {#<td class="tede">{{ alias.criticality }}</td>#}
                  {#{% endfor %}#}
              <!-- </tr> -->
              <tr class="tere">
                <th>Scheduled date</th>
                  {% for alias in patchObjects %}
                      <td class="tede">{{ alias.scheduled_date }}</td>
                  {% endfor %}
              </tr>
        </table>
    </section>

    <div>
        <br>
        <h2>{{ justException.title }}</h2>
        <h4>Customer justification</h4>
        <textarea style="padding:15px;" readonly class="form-control border border-primary" rows="3">{{ justException.justification }}</textarea>
    </div>

    <div>
        <br>
        <h4>Customer action plan</h4>
        <textarea style="padding:15px;" readonly class="form-control border border-primary" rows=8">{{ justException.action_plan }}</textarea>
    </div>

    <br>
    
    <hr style="margin: 1rem;">
 
    <div>
        <br>
        <h4>Your state:</h4>

        <!-- <textarea cols="70" rows="8">hi</textarea> -->
        
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <!-- <button class="col-md-6 btn btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal"> Pending </button> -->
                    {% if singleAuthorize.approver_id == user.id %}
                        {% if singleAuthorize.state == 'Approved' %}
                            <div class="col-md-6" style="font-size:30px; color: green">{{ singleAuthorize.state }} </div> 
                        {% elif singleAuthorize.state == 'Rejected' %}
                            <div class="col-md-6" style="font-size:30px; color: red">{{ singleAuthorize.state }} </div> 
                        {% else %}
                            <button class="col-md-6 btn btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal"> Pending </button>
                        {% endif %}
                    {% else %}

                        <div class="col-md-6"id="rejectedText"></div>

                        {% for a in authorize %}
                            {% if a.state == 'Rejected' %}
                                <script>
                                    $("#rejectedText").append("<i>"+"This exception has been rejected for another approver."+"</i>");
                                </script>
                                <style>
                                    .onof{
                                        display: none;
                                    }
                                </style>
                            {% endif %}
                        {% endfor %}
                    
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <button style="margin-top:2em" class="col-md-6 btn btn-primary btn-block btn-lg onof" data-toggle="modal" data-target="#inquiryModal"> Validate </button>
                                <div class="col-md-3"></div>
                            </div>
                        </div>

                    {% endif %}
                <div class="col-md-3"></div>
            </div>
            {% if singleAuthorize.state == 'Approved' %}
                <div class="container">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <button style="margin-top: 2em;" class="col-md-6 btn btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal2" value={{ singleAuthorize.comment }}>Read comment</button>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            {% elif singleAuthorize.state == 'Rejected' %}
                <div class="container">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <button style="margin-top: 2em;" class="col-md-6 btn btn-primary btn-block" data-toggle="modal" data-target="#inquiryModal2" value={{ singleAuthorize.comment }}>Read</button>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>



<!-- Inquiry Modal authorize exception-->
<div class="modal fade" id="inquiryModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inquiryModalLabel">Approve exception</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <!-- 'EXCLUDE' SE REFIERE AL PRIMER CAMPO DEL PATH DE URL.PY -->
            <form action="{% url 'authorize' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="exception_id" value={{ justException.id }}>
                
                <div class="form-group">
                    <label for="comment" class="col-form-label">Comment:</label>
                    <textarea rows="7" name="comment" class="form-control" required></textarea>
                </div>

                <hr>
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <input type="submit" name="state" value="Approved" class="btn btn-block btn-success col-md">
                        </div>
                        <div class="col-sm">
                            <input type="submit" name="state" value="Rejected" class="btn btn-block btn-danger col-md">
                        </div>
                        <!-- name = database field, value = input value to db -->
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Inquiry Modal Read comentaries-->
<div class="modal fade" id="inquiryModal2" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inquiryModalLabel">Approval comments</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">                
            <textarea readonly rows="7" name="comment" class="form-control" >{{ singleAuthorize.comment }} </textarea>
            <hr>
            <input type="submit" name="state" value="Close" class="btn btn-block btn-success col-md" data-dismiss="modal">
        </div>
                        <!-- name = database field, value = input value to db -->
      </div>
    </div>
</div>

{% endblock %}