<!-- 
<section style="padding: 3em; background-color: #EAEAF1; margin-top: 5em;">
   <div class="container">
      <div class="row ">
         <div class="col-md-3">
            <h5 style="padding: .5em;">Discover</h5>
            <ul>
               <li style="color: #585866;">Products</li>
               <li style="color: #585866;">Redbooks</li>
               <li style="color: #585866;">Services</li>
               <li style="color: #585866;">Industries</li>
               <li style="color: #585866;">IBM Research</li>
            </ul>
         </div>
         <div class="col-md-3">
            <h5 style="padding: .5em;">Information for...</h5>
            <ul>
               <li style="color: #585866;">Developers</li>
               <li style="color: #585866;">Business Partners</li>
               <li style="color: #585866;">Federal and state contracts</li>
            </ul>
         </div>

         <div class="col-md-3">
            <h5 style="padding: .5em;">Connect with us</h5>
            <ul>
               <li style="color: #585866;">Support</li>
               <li style="color: #585866;">Find a Business Partner</li>
            </ul>
         </div>

         <div class="col-md-3">
            <h5 style="padding: .5em;">About IBM</h5>
            <ul>
               <li style="color: #585866;">Careers</li>
               <li style="color: #585866;">Events</li>
               <li style="color: #585866;">Latest news</li>
               <li style="color: #585866;">Strategic partnerships</li>
               <li style="color: #585866;">Investor relations</li>
            </ul>
         </div>

      </div>
   </div>
</section> -->

<section id="services" class="py-5 bg-secondary text-white">
   <div class="container">
      <div class="row text-center">
         <div class="col-md-12">
            <i class="fas fa-comment fa-4x mr-4"></i>
            <hr>
            <h2>Risk management tool</h2>
            <br>
            <h4>Request the exclusion for a certain period either due to a business need or interferences between
               applications.</h4>
         </div>
      </div>
   </div>
</section>