{% extends 'base.html' %}

{% block content %}
<!-- Showcase -->
<section id="showcase">
  <div class="container text-center">
    <div class="home-search p-5">
      <div class="overlay p-5">
        <h1 class="display-4 mb-4">
          Enter credentials
        </h1>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae quas, asperiores eveniet
          vel nostrum magnam
          voluptatum tempore! Consectetur, id commodi!</p>
        <div class="search">
        <!-- Alerts -->
        {% include 'partials/_alerts.html' %}
        <!--busca credentials en la base de datos  -->
          <!-- <form action="search.html" method="POST"> -->
          <form action="{% url 'index' %}" method="POST">
            {% csrf_token %}  
          
            <!-- Form Row 1 -->
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label class="sr-only">ID</label>
                <input type="text" name="ID" class="form-control" placeholder="Enter identification">
              </div>

              <div class="col-md-6 mb-3">
                <label class="sr-only">Password</label>
                <input type="text" name="password" class="form-control" placeholder="Enter password">
              </div>
            </div>

            <button class="btn btn-secondary btn-block mt-4" type="submit">Submit</button>
          </form>
        </div>
      </div>
      
    </div>
  </div>
</section>

<section id="services" class="py-5 bg-secondary text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <i class="fas fa-tasks fa-3x mr-4"></i>
        <hr>
        <h2>Risk management tool</h2>
        <br>
        <h4>Request the exclusion for a certain period either due to a business need or interferences between
          applications.</h4>
      </div>
    </div>
  </div>
</section>

{% endblock %}