<h1>HOLA SOY EL TEST</h1>
<form action="{% url 'test' %}" method="POST">
        {% csrf_token %}  
      
        <!-- Form Row 1 -->
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label class="sr-only">ID</label>
            <input type="text" name="ID" class="form-control" placeholder="Enter identification">
          </div>

          <div class="col-md-6 mb-3">
            <label class="sr-only">Password</label>
            <input type="text" name="password" class="form-control" placeholder="Enter password">
          </div>
        </div>

        <button class="btn btn-secondary btn-block mt-4" type="submit">Submit</button>
</form>