{% extends 'base.html' %}

{% block content %}
<!-- Showcase -->
<!-- <section id="showcase_patchList"> -->
<section>
  <div class="p-5 container text-center">
    <h1 class="display-4 mb-4">
      Patch list
    </h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae quas, asperiores eveniet vel
      nostrum magnam
      voluptatum tempore! Consectetur, id commodi!</p>
    <br>
    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col">Server or package</th>
          <th scope="col">Date</th>
          <th scope="col">Hour</th>
          <th scope="col">Criticality</th>
          <th scope="col">Approver</th>
        </tr>
      </thead>
      <tbody>
          {% if patches %}
            {% for parche in patches %}
              <tr>
                <td>{{ parche.server_package }}</td>
                <td>{{ parche.time }}</td>
                <!-- Hay que agregar la hora -->
                <td>"Hour"</td>
                <td>{{ parche.criticality }}</td>
                <!-- Hay que agregar el nombre de los probadores -->
                <td>"Approver"</td>
                <td><button class="btn btn-primary btn-lg">Exclude patch</button></td>
              </tr>
            {% endfor %}
            {% else %}
              <div class="col-md-12">
                <p>No patches Available</p>
              </div>
          {% endif %}        
      </tbody>
    </table>
  </div>
</section>

<section id="services" class="py-5 bg-secondary text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <i class="fas fa-comment fa-4x mr-4"></i>
        <hr>
        <h2>Risk management tool</h2>
        <br>
        <h4>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae quas, asperiores eveniet vel
          nostrum magnam
          voluptatum tempore! Consectetur, id commodi!</h4>
      </div>
    </div>
  </div>
</section>

<!-- SERGIO -->
<!-- <div class="container">
    <h1>hola sergiozz te quiero</h1>
    <p>hola</p>
    <form action="submit">
        <input placeholder = "identificación" type="text" name="" id="">ID
        <input placeholder = "contraseña" type="text" name="" id="">Password
        <button type="submit">Entrar</button>
    </form>
</div> -->
{% endblock %}