{% extends 'base.html' %}
{% block content %}
    
<!-- put data -->

<!-- title: <input type="text" id="first">
justification: <input type="text" id="last"> -->

<div id ="myBtn"><a href="">Click Me</a></div>
<div id ="output"></div>

<!-- <select id="myBtn">
    <option class="outputClass"></option>
</select> -->

<!-- things we learned: 
    - preventDefault()
    - load method (loads file)
    - (responseText) method prints output of the file (php file prints current time)
    - (status) method (prints if the ajax request is succesfull or not)
    - (xhr) method return back entire call back object (muestra todas las funciones de js y su estatus)

    - $(document.ready) method that runs when the dom is fully loaded.
    - append() function , añade contenido adicional pegado, pega.
    - $.ajax() function
    - data parameter, muestra el entire call back object (muestra todas las funciones de js y su estatus)
    - each(), loop through data
    - JSON.parse() convierte text plano a JSON.
-->

<script>
    
    $(document).ready(function(){
        $("#country").select2({
           placeholder: function(){
              $(this).data('placeholder');
           }
        });
     });

    $(function(){
    var countryOptions;
    var stateOptions;
    var districtOptions;
        $.getJSON('countries.json',function(result){

            $.each(result, function(i,country) {
                //<option value='countrycode'>contryname</option>
                countryOptions+="<option value='"
                +country.code+
                "'>"
                +country.name+
                "</option>";
            });
            $('#country').html(countryOptions);
            
        });
        $("#country").change(function(){
        if($(this).val()=="IN"){
                $.getJSON('indianStates.json',function(result){
                $.each(result, function(stateCode,stateName) {
                    //<option value='stateCode'>stateName</option>
                    stateOptions+="<option value='"
                    +stateCode+
                    "'>"
                    +stateName+
                    "</option>";
                     });
                     $('#state').html(stateOptions);
                });
            }
        });
    });
    
    </script>

Country:
<select id="country" multiple="multiple" placeholder="COUNTRY" style="width: 9rem;">
</select>
State:
<select id="state">
</select>
District:
<select id="district">
</select>

<script src="jquery-2.2.4.min.js"></script>
<script src="custom.js"></script>


<script>
    $(document).ready(function(){
        $("#myBtn a").click(function(e){
        //$("#myBtn").click(function(e){
            var url = 'firstOBJECTS'
            e.preventDefault(); //prevent default action on hiperlink (open a new window).
            
            //$.ajax(url,{
            $.ajax({
                url:url,
                type:'GET', //'GET'
                //data:{},
                dataType:"text", //"json"
                success:function(data){
                    data = JSON.parse(data); //only if its a string value in data
                    //console.log(data); //json pretty objects.
                    $.each(data,function(key,index){
                        //key representa cada objeto del json (0, 1, 2...), index es el contenido de cada objeto.
                            //console.log(key);
                            //console.log(index);
                        //imprime solo los campos que necesitamos.
                            console.log(data[key].fields.scheduled_date);
                            //console.log(index.fields.scheduled_date);
                        $("#output").append("<br>"+index.fields.scheduled_date);
                    })
                    
                },
                error:function(data){
                    console.log(data);
                    $("#output").append("<br>"+data.statusText);
                }
            })

            /*
            $('#output').load(url, function(responseText,status,xhr){
                console.log(responseText);
                console.log(status);
                console.log(xhr);
                if(status=='success'){ // you can use 200 as well (check xhr)
                    $("#output").append("<br>It works");
                    console.log("ES EXITOSO ");
                }
                if(status=='error'){ // you can use 200 as well (check xhr)
                    console.log("ERROR AMIGO ");
                }
            });
            */
        })
    })
</script>


{% endblock %}