{% extends 'base.html' %}

<!-- comentar el jinja -->
{# {% load humanize %} #}

{% block content %}

<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">Patches dashboard</h1>
                <p class="lead">Manage your patches if you have struggles</p>
            </div>
        </div>
    </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}">
                        <i class="fas fa-home"></i> Home</a>
                </li>
                <li class="breadcrumb-item active"> Dashboard</li>
            </ol>
        </nav>
    </div>
</section>

<section id="dashboard" class="py-4">
    <div class="container">
        {% include 'partials/_alerts.html' %}
        <div class="row">
            <div class="col-md-12">
                <h2>Welcome {{ user.username }}</h2>
                {% if patches %}
                <p>Here are patches that are coming</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Server or package</th>
                            <th scope="col">Date</th>
                            <th scope="col">Criticality</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for patch in patches %}
                            <tr>
                                <td>{{ patch.server_package }}</td>
                                <td>{{ patch.time }}</td>
                                <td>{{ patch.criticality}}</td>
                                <td>{{ patch.severity }}</td>                               
                                <td>
                                    <button class="btn btn-primary btn-block " data-toggle="modal" data-target="#inquiryModal">Exclude patch</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p>You have not patches</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>

  <!-- Inquiry Modal -->
  <div class="modal fade" id="inquiryModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inquiryModalLabel">Patch exception</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <!-- 'EXCLUDE' SE REFIERE A LA FUNCIÓN DE EXCEPTIONS/VIEWS.PY -->
            <form action="{% url 'exclude' %}" method="POST">
                {% csrf_token %}
                <!-- Aunque de todas formas esta autenticado -->
                <!-- {% if user.is_authenticated %} -->
                    <!-- * -->
                    <!-- <input type="hidden" name="user_id" value="{{ user.id }}"> -->
                    <!-- * -->
                <!-- {% else %} -->
                    <!-- En caso excluyan un parche sin estar logeados (nunca ocurrirá) -->
                    <!-- <input type="hidden" name="user_id" value="0"> -->
                <!-- {% endif %} -->
                
                <!-- <input type="hidden" name="patch_id" value="{{ patch.criticality }}"> -->

                <input type="hidden" name="client" value="{{ patch.user }}">
                <!-- <input type="hidden" name="patch" value="{{ patch.id }}"> -->
                
                <div class="form-group">
                    <label for="title" class="col-form-label">Title:</label>
                    <input type="text" name="title" class="form-control" required>
                    
                </div>
                <div class="form-group">
                    <label for="justification" class="col-form-label">Justification:</label>
                    <textarea name="justification" class="form-control" required></textarea>
                </div>
                <div class="form-group">
                    <label for="excludeDate" class="col-form-label">Exclude date:</label>
                    <input type="datetime" name="exclude_date" class="form-control" required>
                </div>
                <hr>
                <input type="submit" value="Send" class="btn btn-block btn-secondary">
            </form>
        </div>
      </div>
    </div>
  </div>

  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <i class="fas fa-comment fa-4x mr-4"></i>
          <hr>
          <h2>Risk management tool</h2>
          <br>
          <h4>Request the exclusion for a certain period either due to a business need or interferences between
            applications.</h4>
        </div>
      </div>
    </div>
  </section>
{% endblock %}