{% extends 'base.html' %}

{% block content %}

<section id="showcase-inner" class="py-5 text-white">
   <div class="container">
      <div class="row text-center">
         <div class="col-md-12">
            <h1 class="display-4">Patches dashboard</h1>
            <p class="lead">Manage your patches if you have struggles</p>
         </div>
      </div>
   </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
   <div class="container">
      <nav aria-label="breadcrumb">
         <ol class="breadcrumb">
            <li class="breadcrumb-item">
               <a href="{% url 'index' %}">
                  <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item active"> Dashboard</li>
         </ol>
      </nav>
   </div>
</section>

<section id="dashboard" class="py-4">
   <div class="container">
      {% include 'partials/_alerts.html' %}
      <div class="row">
         <div class="col-md-12">
            <h2>Welcome {{ user.username }}</h2>
            {% if client_has_server %}
            <p>Here are patches that are coming</p>
            <button style="margin-bottom:2rem;" class="btn btn-primary btn-block clickbtn" data-toggle="modal" data-target="#myModal1"> Make an exception </button>
            <table class="table table-striped table-bordered">
               <thead class="table-info ">
                  <tr>
                     <th scope="col">patch id</th>
                     <th scope="col">Server Name</th>
                     <th scope="col">Advisory</th>
                     <!-- <th scope="col">Criticality</th> -->
                     <th scope="col">Scheduled Date</th>
                  </tr>
               </thead>
               <tbody>
                  {% for p in patches %}
                  <tr>
                     <td>{{ p.id }}</td>
                     <td>{{ p.server }}</td>
                     <td>{{ p.advisory }}</td>
                     <td>{{ p.scheduled_date }}</td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
            {% else %}
            <p>You have not patches</p>
            {% endif %}
         </div>
      </div>
   </div>
</section>

<section id="services" class="py-5 bg-secondary text-white">
   <div class="container">
      <div class="row text-center">
         <div class="col-md-12">
            <i class="fas fa-comment fa-4x mr-4"></i>
            <hr>
            <h2>Risk management tool</h2>
            <br>
            <h4>Request the exclusion for a certain period either due to a business need or interferences between
               applications.</h4>
         </div>
      </div>
   </div>
</section>

<!------------------------------------------------------------- A ------------------------------------------------------------->
<!------------------------------------------------- Select SERVER OR PATCH?:------------------------------------->

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"> A </h4>
         </div>
         <div class="modal-body">
            <form role="form" action="" method="post" class="registration-form">
               <fieldset style="display: block;">
                  <div class="form-top">
                     <div class="form-top-left">
                        <p>What do you want to make an exception?:</p>
                     </div>
                  </div>
                  <div class="form-bottom">
                     {#<button id ="{{ exception_type_server.id }}" type="button" class="btn btn-default exception_type_servidor" data-toggle="modal" data-target="#myModal2" data-dismiss="modal" >Server</button>#}

                     <button type="button" class="btn btn-default exception_type_servidor" data-toggle="modal"
                        data-target="#myModal2" data-dismiss="modal">Server</button>

                     <button type="button" class="btn btn-default exception_type_patch" data-toggle="modal" data-target="#myModal4"
                        data-dismiss="modal">Patch</button>
                  </div>
               </fieldset>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>

<script>
   $(document).ready(function () {
      $(".exception_type_servidor").click(function () {
         $("#exception_type_IDD").val("2");
      });
   });

   //if the exception is patch type
   $(document).ready(function () {
      $(".exception_type_patch").click(function () {
         $("#exception_type_IDDD").val("1");
      });
   });
</script>

<!------------------------------------------------------------- B ------------------------------------------------------------->
<!------------------------------------------------- Which servers do you want to exclude?:------------------------------------->
<script>
   var arrayFullServers = [];
   Array.prototype.remove = function() {
      var what, a = arguments, L = a.length, ax;
      while (L && this.length) {
          what = a[--L];
          while ((ax = this.indexOf(what)) !== -1) {
              this.splice(ax, 1);
          }
      }
      return this;
  };
</script>
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">B</h4>
         </div>
         <div class="modal-body">
            <form method="POST">
               <fieldset>
                  <div class="form-top">
                     <div class="form-top-left">
                        <p> Which servers do you want to exclude?:</p>
                     </div>
                  </div>
                  <div class="form-bottom">
                     <select data-placeholder="Select server/servers" style="width:27em;" id="serverServer" multiple="multiple"></select>
                     <div style="margin-bottom: 1em;"></div>
                     <script>
                        $(document).ready(function(){
                           var serverOptions;
                           $.ajax({
                              url:'patch_server_list', //AQUI SE EXTRAERÁN LOS DATOS
                              type:'GET', //OBTENDREMOS DATOS
                              dataType:"text", //"json"  //FORMATO DE LOS DATOS
                              success:function(data){  //SI TODO SALE BIEN (DATOS EXISTENTES, CONEXIÓN CON EL SERVIDOR)
                                 data = JSON.parse(data); //LOS DATOS LOS CONVERTIMOS A JSON
                              
                                 $.each(data,function(key,index){
                                    //key representa cada objeto del json (0, 1, 2...), index es el contenido de cada objeto.
                                    //imprime solo los campos que necesitamos.
                                       //console.log(data[key]); //todo el objeto
                                       //console.log(data[key].fields.hostname); // el hostname solamente
                                    serverOptions+="<option value='"+index+"' >"+index.fields.hostname+"</option>";
                                 })

                                 // AGREGA LOS SERVIDORES A LA DROP-DOWN-LIST
                                 $('#serverServer').html(serverOptions);
                                 
                                 //AL MOMENTO EN QUE EL CLIENTE DA CLICK EN UNA OPCIÓN (AGREGA).
                                 $('#serverServer').on('select2:select', function (e) {
                                    var data = e.params.data;
                                    arrayFullServers.push(data.text);
                                    console.log(arrayFullServers);
                                    document.getElementById('totalServers').value = arrayFullServers;
                                    
                                    //ESTO ES PARA MOSTRAR EL RESULTADO NOMÁS.                                       
                                    $('#output').html(arrayFullServers);
                                 });

                                 //AL MOMENTO EN QUE EL CLIENTE DA CLICK EN UNA OPCIÓN (ELIMINA).
                                 $('#serverServer').on('select2:unselect', function (e) {
                                    var data = e.params.data;
                                    arrayFullServers.remove(data.text);
                                    console.log(arrayFullServers);
                                    document.getElementById('totalServers').value = arrayFullServers;
                                    //ESTO ES PARA MOSTRAR EL RESULTADO NOMÁS.
                                    $('#output').html(arrayFullServers);
                                 });
                              },
                              error:function(data){
                                    console.log(data);
                                    $("#bbbbb").append("<br>"+data.statusText);
                              }
                           });
                        });
                                                                              
                        //MOSTRAR EL PLACE HOLDER
                        $(document).ready(function(){
                           $("#serverServer").select2({
                              placeholder: function(){
                                 $(this).data('placeholder');
                              }
                           });
                        });
                     </script>

                     <button type="button" class="btn btn-next btnPoll">Next</button>
                     <button type="button" class="btn btn-default btn-prev">Previous</button>
                  </div>
               </fieldset>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>

<!------------------------------------------------------------- C ------------------------------------------------------------->
<!----------------------------------------------------- SERVER inquiry modal--------------------------------------------------->

<div class="modal fade" id="myModal3" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="inquiryModalLabel">Server exception</h5>
            <button type="button" class="close" data-dismiss="modal">
               <span>&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <!-- 'exclude_server' SE REFIERE AL PRIMER CAMPO DEL PATH DE URL.PY -->
            <form action="{% url 'exclude_server' %}" method="POST">
               {% csrf_token %}

               <input id ="totalServers" type="hidden" name="content" value="">

               <input id="exception_type_IDD" type="hidden" name="exception_type">

               <p id="output"></p>

               <!-- Estos se introducen del modelo de exception -->
               <div class="form-group">
                  <label for="title" class="col-form-label">Title:</label>
                  <input type="text" name="title" class="form-control" required>
               </div>
               <div class="form-group">
                  <label for="justification" class="col-form-label">Action plan:</label>
                  <textarea rows="7" name="justification" class="form-control" required></textarea>
               </div>
               <div class="form-group">
                  <label for="excludeDate" class="col-form-label">Exclude date:</label>
                  <input type="datetime" name="exclude_date" class="form-control" required>
               </div>
               <!-- FALTA AGREGAR EL ACTION PLAN -->
               <hr>
               <input style="margin-bottom: 1rem;" type="submit" value="Send" class="btn btn-block btn-secondary">
               <button type="button" class="btn btn-info btn-prev ">Back</button>

               <!-- name = database field, value = input value to db -->
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>


<!------------------------------------------------------------- D ------------------------------------------------------------->
<!------------------------------------------------- Select PATCHES you want to exclude:------------------------------------->

<div class="modal fade" id="myModal4"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">D</h4>
         </div>
         <div class="modal-body">
            <form>
               <fieldset>
                  <div class="form-top">
                     <div class="form-top-left">
                        <h5> Select patch/patches you want to exclude</h5>
                     </div>
                  </div>
                  <div class="form-bottom">
                    <div id="aaaaa"><a href="">Server</a></div>
                    <div id="bbbbb"></div>

                     <script>
                        $(document).ready(function(){
                           $("#aaaaa a").click(function(e){
                                e.preventDefault();

                                $.ajax({
                                    url:'patch_server_list', //AQUI SE EXTRAERÁN LOS DATOS
                                    type:'GET', //OBTENDREMOS DATOS
                                    dataType:"text", //"json"  //FORMATO DE LOS DATOS
                                    success:function(data){  //SI TODO SALE BIEN (DATOS EXISTENTES, CONEXIÓN CON EL SERVIDOR)
                                        data = JSON.parse(data); //LOS DATOS LOS CONVERTIMOS A JSON
                                        
                                       $.each(data,function(key,index){
                                                //console.log(data[key].fields.scheduled_date);
                                                console.log(index.fields.hostname);
                                            $("#bbbbb").append("<br>"+index.fields.hostname);
                                       })
                                    },
                                    error:function(data){
                                        console.log(data);
                                        $("#bbbbb").append("<br>"+data.statusText);
                                    }
                                })

                            })
                        })
                    </script>
                    
                     <br>
                     <!-- SELECT  -->
                     <div style="margin-bottom: 1em;">Server:</div>
                     
                     <select data-placeholder="Select server/servers" style="width:47em;" id="selectServers" multiple="multiple">
                     <!-- <select data-placeholder="Select server/servers" style="width:47em;" id="selectServers"> -->
                        {#{% for n in serversPoll %}#}
                           {#<option class="patchPoll1" value="{{n.id}}">{{ n.hostname }}</option>#}
                        {#{% endfor %}#}
                     </select>

                     <div style="margin-bottom: 1em;">Patch:</div>

                     <select data-placeholder="Select patch/patches" style="width:47em;" id="selectPatches" multiple="multiple">
                        {% for n in patches %}
                           <option class="patchPoll2" value="{{n.id}}">{{ n.advisory }}</option>
                        {% endfor %}
                     </select>

                     <script>
                        $(document).ready(function(){
                           var serverOptions;
                           $.ajax({
                              url:'patch_server_list', //AQUI SE EXTRAERÁN LOS DATOS
                              type:'GET', //OBTENDREMOS DATOS
                              dataType:"text", //"json"  //FORMATO DE LOS DATOS
                              success:function(data){  //SI TODO SALE BIEN (DATOS EXISTENTES, CONEXIÓN CON EL SERVIDOR)
                                    data = JSON.parse(data); //LOS DATOS LOS CONVERTIMOS A JSON
                                 $.each(data, function(serversPoll) {
                                    //serverOptions+="<option value='"+serversPoll+"'>"+serversPoll+"</option>.addClass('serverOptionsClass')";
                                    serverOptions+="<option value='"+this+"' >"+this.fields.hostname+"</option>";
                                    //console.log(this.fields.hostname);
                                 });
                                 $('#selectServers').html(serverOptions);
                              },
                              error:function(data){
                                    console.log(data);
                                    $("#bbbbb").append("<br>"+data.statusText);
                              }
                           })
                        })

                        //clase dentro de ajax
                        /*
                        $(document).ready(function(){
                           $(".serverOptionsClass").on("click", function(){
                              console.log("ñaca");
                           });
                        });
                        $(document).ready(function(){
                           $(".serverOptionsClass").click(function(){
                              console.log("ñaca");
                           });
                        });
                        */
                        
                        
                        $(document).ready(function(){
                           $("#selectServers").select2({
                              placeholder: function(){
                                 $(this).data('placeholder');
                              }
                           });
                        });
                        

                        $(document).ready(function(){
                           $("#selectPatches").select2({
                              placeholder: function(){
                                 $(this).data('placeholder');
                              }
                           });
                        });
                     </script>

                     <br>
                     <button style="margin-top: 1.5em;"type="button" class="btn btn-next">Next</button>
                     <button style="margin-top: 1.5em;"type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal1"
                        data-dismiss="modal">Previous</button>
                  </div>
               </fieldset>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>

<!------------------------------------------------------------- E ------------------------------------------------------------->
<!----------------------------------------------------- PATCH inquiry modal--------------------------------------------------->

<div class="modal fade" id="myModal5" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="inquiryModalLabel">Patch exception</h5>
            <button type="button" class="close" data-dismiss="modal">
               <span>&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <!-- 'exclude_server' SE REFIERE AL PRIMER CAMPO DEL PATH DE URL.PY -->
            <form action="{% url 'exclude_server' %}" method="POST">
               {% csrf_token %}

               <input class="serverPoll" type="hidden" name="content">
               <input id="exception_type_IDDD" type="hidden" name="exception_type">

               <p id="output2"></p>

               <!-- Estos se introducen del modelo de exception -->
               <div class="form-group">
                  <label for="title" class="col-form-label">Title:</label>
                  <input type="text" name="title" class="form-control" required>
               </div>
               <div class="form-group">
                  <label for="justification" class="col-form-label">Action plan:</label>
                  <textarea rows="7" name="justification" class="form-control" required></textarea>
               </div>
               <div class="form-group">
                  <label for="excludeDate" class="col-form-label">Exclude date:</label>
                  <input type="datetime" name="exclude_date" class="form-control" required>
               </div>
               <!-- FALTA AGREGAR EL ACTION PLAN -->
               <hr>
               <input style="margin-bottom: 1rem;" type="submit" value="Send" class="btn btn-block btn-secondary">
               <button type="button" class="btn btn-info btn-prev ">Back</button>

               <!-- name = database field, value = input value to db -->
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>


{% endblock %}