{% extends 'base.html' %}

{% block content %}

<section id="showcase-inner" class="py-5 text-white">
   <div class="container">
      <div class="row text-center">
         <div class="col-md-12">
            <h1 class="display-4">Exception requests</h1>
            <p class="lead">Manage your patches if you have struggles</p>
         </div>
      </div>
   </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
   <div class="container">
      <nav aria-label="breadcrumb">
         <ol class="breadcrumb">
            <li class="breadcrumb-item">
               <a href="{% url 'dashboard' %}">
                  <i class="fas fa-home"></i> Dashboard </a>
            </li>
            <li class="breadcrumb-item">
               <a href="{% url 'exceptionsBoard' %}">
                  <i class="fas fa-calendar-check"></i> Requests </a>
            </li>
         </ol>
      </nav>
   </div>
</section>

<section id="dashboard" class="py-4">
   <div class="container">
      {% include 'partials/_alerts.html' %}
      <div class="row">
         <div class="col-md-12">
            <h2>Welcome {{ user.username }}</h2>
            </br>

            {% if client_exceptions %}

            <form action="{% url 'searchClient' %}">
               <div class="container" style="margin-bottom: 45px;">
                 <div class="row">
                   <div class="col-md-4 ">
                     <label class="sr-only">State</label>
                     <select name="state" class="form-control">
                       <option selected="true" disabled="disabled">State (All)</option>
     
                       {% for key,value in state_choices.items %}
                         <option value="{{ key }}">{{ value }}</option>
                       {% endfor %}
     
                     </select>
                   </div>
     
                   <div class="col-md-4">
                     <input type="text" name="keywords" class="form-control" placeholder="Filter by risk ID" value="{{ values.keywords }}">
                   </div>
                   <div class="col-md-4">
                     <button class="btn btn-secondary btn-block " type="submit">Search</button>
                   </div>
                 </div>
               </div>
             </form>

            <table id="mytab1" class="table table-striped table-bordered" style="text-align: center;">
               <thead class="table-info ">
                  <tr>
                     <th class="bg-primary" style="color:white;" scope="col">Exception ID</th>
                     <th class="bg-primary" style="color:white;" scope="col">Title</th>
                     <th class="bg-primary" style="color:white;" scope="col">Maximum target date</th>
                     <!-- <th class="bg-primary" style="color:white;" scope="col">Content</th> -->
                     <th class="bg-primary" style="color:white;" scope="col">Justification</th>
                     <th class="bg-primary" style="color:white;" scope="col">Change</th>
                     <th class="bg-primary" style="color:white;" scope="col">Final status</th>
                  </tr>
               </thead>
               <tbody>
                  <script>
                     //conseguir los id de cada excepcion a JS
                     /*
                     var excID = " {{datazz}} ";
                     excID = excID.replace('[',''); //]>
                     excID=excID.split(',');

                     for (a in excID ) {
                        excID[a] = parseInt(excID[a]); // Explicitly include base as per Álvaro's comment
                     }
                     console.log(excID)
                     console.log(typeof(excID))
                     var x=0
                     */
                  </script>

                  {% for p in client_exceptions %}
                     {#{% if p.state != "Canceled" %}#}
                        <tr>
                           <td><i>{{ p.risk_id }}</i></td>
                           {#<td><i>{{ p.id }}</i></td>#}
                           <td>{{ p.title }}</td>
                           <td>{{ p.exclude_date }}</td>
                           {#<td style="font-size: 16px; text-align: left">{{ p.content }}</td>#}
                           <td style="font-size: 16px; text-align: left">{{ p.justification }}</td>
                           
                           <!-- <td style="font-size: 16px; text-align: left" class="demo2"> -->
                              <script>

                                 /*
                                 var datos = " {{datazz}} ";
                                 //datos=datos.toUpperCase;
                                 datos = datos.replace('&lt;QuerySet [',''); //<QuerySet [
                                 datos = datos.replace(']&gt;',''); //]>
                                 
                                 datos = datos.split(",").join("<p>hola</p>")
                                 */
                                 
                                 /*
                                 var tablefield = document.getElementsByClassName("demo2")

                                 //tablefield[x].innerHTML = excID[x]
                                 //$(document).ready(function () {

                                    var hostname
                                    var hostnames = []

                                    $.ajax({
                                       //async: false,
                                       url: 'contentSeparated',
                                       method: 'POST',
                                       dataType: "text", //"json"
                                       data: {
                                          query: excID[x]
                                       },
                                       success: function (host_name) {
                                          
                                          hostname = JSON.parse(host_name);
                                          //console.log(hostname)

                                          $.each(hostname,function(key,index){
                                             hostnames.push(index.fields.risk_id);
                                          })
                                          //data = JSON.parse(data);
                                          //tablefield[x].innerHTML = data
                                          //tablefield[x].innerHTML = excID[x]
                                          console.log(hostnames)
                                       }
                                    });
                                 //});

                                 console.log(excID[x])
                                 x++
                                 */
                              </script>
                           <!-- </td> -->
                           <td>
                              {% if p.state == "Approved" or p.state == "Rejected" %}
                                 <!-- <p style="font-size: .9em; color:dimgray">Has a status already</p> -->
                              {% else %}
                                 {% for r in remaining %}
                                    {#{% if p.id == r.id %}#}
                                    {% if p.id == r.id and p.state != "Canceled" %}
                                       <a href="{% url 'inquiryEdit' p.id %}">Edit</a>
                                    {% else %}
                                       <!-- <p style="font-size: .9em; color:dimgray">Has a status already</p> -->
                                    {% endif %}
                                 {% endfor %}
                              {% endif %}
                              {% if p.state == "Pending" %}
                                 <a id="{{p.id}}" class="clickbtn"style="color:red;" href="{% url 'deleteException' p.id %}"><i class="fa fa-pencil-square-o" ></i>Cancel</a>
                              {% else %}
                                 <a id="{{p.id}}" class="clickbtn"style="color:grey;"><i class="fa fa-pencil-square-o" ></i>Cancel</a>
                              {% endif %}
                              
                              {#<p value={{ p.id }} style="font-style: italic;" class="validationsQuery2 btn btn-block"data-toggle="modal" data-target="#deletemodal">Delete</p>#}
                           </td>

                           {% if p.state == "Pending" %}
                              <td><button value={{ p.id }} style="font-style: italic;" class="btn btn-block validationsQuery"data-toggle="modal" data-target="#inquiryModal2">{{ p.state }}</button></td>
                           {% elif p.state == "Approved" %}
                              <td><button value={{ p.id }} class="btn btn-success btn-block validationsQuery" data-toggle="modal"data-target="#inquiryModal2">{{ p.state }}</button></td>
                           {% elif p.state == "Rejected" %}
                              <td><button value={{ p.id }} class="btn btn-danger btn-block validationsQuery" data-toggle="modal"data-target="#inquiryModal2">{{ p.state }}</button></td>
                           {% else %}
                              <td>{{ p.state }}</td> <!-- bugs-->
                           {% endif %}
                        </tr>
                     {#{% endif %}#}
                  {% endfor %}
               </tbody>
            </table>
            {% else %}
               <p>You have not exceptions</p>
            {% endif %}
         </div>
      </div>

      <div class="row">
         <div class="col-md-12">
           {% if client_exceptions.has_other_pages %}
             <ul class="pagination">
               {% if client_exceptions.has_previous %}
                 <li class="page-item">
                   <a href="?page={{ listings.previous_page_number}}" class="page-link">&laquo;</a>
                 </li>
               {% else %}
                 <li class="page-item disabled">
                   <a class="page-link">&laquo;</a>
                 </li>
               {% endif %}
               {% for i in client_exceptions.paginator.page_range %}
                 {% if client_exceptions.number == i %}
                   <li class="page-item active">
                     <a class="page-link">{{i}}</a>
                   </li>
                 {% else %}
                   <li class="page-item">
                     <a href="?page={{i}}" class="page-link">{{i}}</a>
                   </li>
                 {% endif %}
               {% endfor %}
               {% if client_exceptions.has_next %}
                 <li class="page-item">
                   <a href="?page={{client_exceptions.next_page_number}}" class="page-link">&raquo;</a>
                 </li>
               {% else %}
                 <li class="page-item disabled">
                   <a class="page-link">&raquo;</a>
                 </li>
               {% endif %}
             </ul>
           {% endif %}
         </div>
       </div>

   </div>
</section>

<!-- read approver comments  -->
<!-- Inquiry Modal Read comentaries-->
<div class="modal fade" id="inquiryModal2" role="dialog">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="inquiryModalLabel">Approval status</h5>
            <button type="button" class="close" data-dismiss="modal">
               <span>&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <style>
               hr {
                  border-top: 1px solid grey;
                  margin-bottom: 1em;
               }
            </style>
            <div id="clean" class="queryContent" rows="7" class="form-control"></div>
            <!-- <table class="table table-striped table-bordered"> -->

            <!-- <table>   -->
               <!-- <div id="clean" class="queryContent" rows="7" class="form-control"></div> -->
               <!-- <table id="clean" style="font-size:15px;" class="queryContent"> -->


               <script type="text/javascript">
                  $(document).ready(function (){
                     $(".validationsQuery").click(function(){

                        document.getElementById("clean").innerHTML = "";

                        query = this.value
                        query = parseInt(query)

                        console.log(query)

                        $.ajax({
                           //async: false,
                           url: 'getValidationDetails',
                           method: 'POST',
                           dataType: "text", //"json"
                           data: {
                              query: query
                           },
                           success: function (data) {
                              data = JSON.parse(data);
                              //console.log("imhere")
                              console.log(data)
                              // me imprime los objetos aprobadores

                              $.each(data, function (key, index) {
                                 //key representa cada objeto del json (0, 1, 2...), index es el contenido de cada objeto.

                                 //-------------------------------new ajax -------------------------------
                                 //-------------------------conseguir los nombres nada mas----------------
                                 var name
                                 var names = []

                                 $.ajax({
                                    async: false,
                                    url: 'getApprovalNames',
                                    method: 'POST',
                                    dataType: "text", //"json"
                                    data: {
                                       data: index.fields.approver
                                    },

                                    success: function (approvername) {
                                       console.log("estoy aqui")
                                       name = JSON.parse(approvername);

                                       $.each(name, function (key, index) {
                                          names.push(index.fields.username);
                                       })
                                       console.log(names)
                                    }
                                 });

                                 //-------------------------------new ajax -------------------------------
                                 
                                 /*
                                 var exceptionDate = index.fields.time

                                 function formatDate(date) {
                                    var d = new Date(date),
                                       month = d.getMonth(),
                                       date = d.getDate(),
                                       year = d.getFullYear(),
                                       hours = ('0' + d.getHours()).slice(-2),
                                       minutes = ('0' + d.getMinutes()).slice(-2);

                                    month++;

                                    return (month + '/' + date + '/' + year + ' ' + hours + ':' + minutes);
                                 }

                                 //$(".queryContent").append("<table>");
                                    $(".queryContent").append("<tr>");
                                       $(".queryContent").append("<th>" + "Approver name" + "</th>");
                                       $(".queryContent").append("<th>" + "Approval date" + "</th>");
                                       $(".queryContent").append("<th>" + "Comment" + "</th>");
                                       $(".queryContent").append("<th>" + "Status" + "</th>");
                                       $(".queryContent").append("</br>");
                                    $(".queryContent").append("</tr>");
                                    $(".queryContent").append("<tr>");
                                       $(".queryContent").append("<td>" + names + "</td>");
                                       $(".queryContent").append("<td>" + formatDate(exceptionDate) + "</td>");
                                       $(".queryContent").append("<td>" + index.fields.comment + "</td>");
                                       $(".queryContent").append("<td>" + index.fields.state + "</td>");
                                    $(".queryContent").append("</tr>");
                                 */

                                                                    
                                 $(".queryContent").append("<b>" + "Approver name:" + "</b>");
                                 $(".queryContent").append("<p>" + names + "</p>");
                                 $(".queryContent").append("<b>" + "Comment:" + "</b>");
                                 $(".queryContent").append("<p>" + index.fields.comment + "</p>");
                                 $(".queryContent").append("<b>" + "Approval date:" + "</b>");


                                 var exceptionDate = index.fields.time

                                 function formatDate(date) {
                                    var d = new Date(date),
                                       month = d.getMonth(),
                                       date = d.getDate(),
                                       year = d.getFullYear(),
                                       hours = ('0' + d.getHours()).slice(-2),
                                       minutes = ('0' + d.getMinutes()).slice(-2);

                                    month++;

                                    return (month + '/' + date + '/' + year + ' ' + hours + ':' + minutes);
                                 }
                                 $(".queryContent").append("<p>" + formatDate(exceptionDate) + "</p>");
                                 $(".queryContent").append("<b>" + "Status:" + "</b>");
                                 $(".queryContent").append("<p>" + index.fields.state + "</p>");
                                 $(".queryContent").append("<hr>");
                                 
                              })
                           }
                        })

                        $.ajax({
                           //async: false,
                           url: 'getValidationsRemaining',
                           method: 'POST',
                           dataType: "text", //"json"
                           data: {
                              query: query
                           },
                           success: function (data) {
                              data = JSON.parse(data);
                              console.log("REMAINING")
                              console.log(data)

                              var missingnames = []

                              $.each(data, function (key, index) {
                                 missingnames.push(index.fields.username);
                              })

                              if (typeof missingnames !== 'undefined' && missingnames.length > 0) {
                                 $(".queryContent").append("<b>" + "Remaining approver name:" + "</b>");
                                 $(".queryContent").append("<p>" + missingnames + "</p>");
                              }
                           }
                        });
                     });
                  });
               </script>
            </table>
            <hr>
            <input type="submit" name="state" value="Close" class="btn btn-block btn-success col-md"
               data-dismiss="modal">
         </div>
         <!-- name = database field, value = input value to db -->
      </div>
   </div>
</div>

<!-- Inquiry Modal delete comment comentaries-->
<!--
<div class="modal fade" id="deletemodal" role="dialog">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="inquiryModalLabel">BORRAR</h5>
            <button type="button" class="close" data-dismiss="modal">
               <span>&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <style>
               hr {
                  border-top: 1px solid grey;
                  margin-bottom: 1em;
               }
            </style>
            <div class="clean2" rows="7" class="form-control"></div>
            <script type="text/javascript">
               /*
               $(document).ready(function (){
                  $(".validationsQuery2").click(function(){

                        document.getElementsByClassName("clean2").innerHTML = "";

                     query = this.value
                     query = parseInt(query)

                     //console.log(query)

                     $.ajax({
                        //async: false,
                        url: 'killException',
                        method: 'POST',
                        dataType: "text", //"json"
                        data: {
                           query: query
                        },
                        //success: function (data) {
                           //data = JSON.parse(data);
                           //console.log(data)
                        //}
                     })
                  });
               });
               */            
               </script>
               <hr>
               <input name="state" value="Close" class="btn btn-block btn-success col-md ">
               <input value=5 type="submit" name="state" class="btn btn-block btn-success col-md validationsQuery2">
         </div>
      </div>
   </div>
</div>
-->
{% endblock %}