{% extends 'base.html' %}

{% block content %}

<style>
   #showcase-inner::before {
       background: rgba(75, 125, 172, 0.8);
   }
   #services::before {
       background: rgba(75, 125, 172, 0.8);
     }
</style>

<section id="showcase-inner" class="py-5 text-white">
   <div class="container">
      <div class="row text-center">
         <div class="col-md-12">
            <h1 class="display-4">Edit exception</h1>
            <i class="fa fa-clipboard fa-5x" aria-hidden="true"></i>
         </div>
      </div>
   </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
   <div class="container">
      <nav aria-label="breadcrumb">
         <ol class="breadcrumb">
            <li class="breadcrumb-item">
               <a href="{% url 'dashboard' %}">
                  <i class="fas fa-home"></i> Dashboard </a>
            </li>
            <li class="breadcrumb-item">
               <a href="{% url 'exceptionsBoard' %}">
                  <i class="fas fa-calendar-check"></i> Requests </a>
            </li>
         </ol>
      </nav>
   </div>
</section>

<script>
   /*
  var limitdays;
  $.ajax({
     async: false,
     method: "POST",
     data: {
        //limitDay: localStorage.arrayServerPatches
        limitDay: localStorage.arrayFullServers
     },
     url: 'getDaysLimit',

  }).done(function (data) { //ME DEVUELVE LOS OBJETOS ADVIOSORY RELACIONADOS AL SERVER SELECCIONADO
     //console.log(data)
     limitdays = data
  });
  */
</script>

<div class="container">
   <div style="padding-left:5em; padding-right:5em; padding-bottom:3em; margin-top:3em;" class="container">
      <div class="row"></div>
      <p>Content:</p>
      <div id="demo" style="background-color: lightgrey; padding: 1em; border: 1px solid grey; margin-bottom: 2em; font-style: italic; font-size:.8em;">
         {%for i in getContent%}
            <p>{{i}}</p>
         {%endfor%}
      </div>

      {#<form action="{% url 'exclude_server' %}" method="POST">#}
      <form action="{% url 'updateException' getException.id %}" method="POST" onsubmit="return checkForm(this);">
         {% csrf_token %}
         <input id="content" type="hidden" name="content">
         <input id="exception_type_IDD" type="hidden" name="exception_type">
         <input id="patch_ide" type="hidden" name="patch_id">
         <input id="server_ide" type="hidden" name="server_id">

         <!-- Estos se introducen del modelo de exception -->
         <div class="form-group">
            <label for="title" class="col-form-label"><b>Title:</b><i> (Set the title that approvers can use as
                  reference)</i></label>
            <input value={{ getException.title }} style="border: 1px solid grey;" type="text" name="title"
               class="form-control" required>
         </div>
         <div class="form-group">
            <label for="justification" class="col-form-label"><b>Justification:</b><i> (Reasons you want to make an
                  exception)</i></label>
            <textarea style="border: 1px solid grey;" rows="7" name="justification" class="form-control"
               required>{{ getException.justification }}</textarea>
         </div>

         <div class="form-group">
            <label for="action_plan" class="col-form-label"><b>Action plan:</b><i> (Define steps you will execute for
                  implement the updates)</i></label>
            <textarea style="border: 1px solid grey;" rows="7" name="action_plan" class="form-control"
               required>{{ getException.action_plan }}</textarea>
         </div>

         <div class="container">
            <div class="row">
               <div class="col-md-4"></div>
               <label for="excludeDate" class="col-form-label col-md-4""><b>Maximum target date</b> <br> <i>Choose risk expiration date. <br> One year limit. </i></label>
               <div class=" col-md-4"></div>
            </div>
         </div>

   <div class="form-group">
      <label for="exclude_date" class="col-form-label"></label>
      <div class="container">
         <div class="row">
            <div class="col-md-4"></div>
            <!-- <input type="datetime" name="exclude_date" class="tail-datetime-field form-control col-md-4 " autocomplete="off" onkeydown="return false;" style="caret-color: transparent !important;" required> -->
            <input id="myInput" type="datetime" name="exclude_date" class="tail-datetime-field form-control col-md-4 " autocomplete="off" onkeydown="return false;" style="caret-color: transparent !important;" required>
            <div class="col-md-4"></div>
         </div>
      </div>
   </div>
</div>

<script>
   //var dias = 0
</script>
{#{% if days == 30 %}#}
<script>
   //dias = 30
</script>
{#{% elif days == 90 %}#}
<script>
   //dias = 90
</script>

{#{% elif days == 180 %}#}
<script>
   //dias = 180
</script>
{#{% endif %}#}

<script type="text/javascript">
   Date.prototype.addDays = function (days) {
      var date = new Date(this.valueOf());
      date.setDate(date.getDate() + days);
      return date;
   }

   var hoy = new Date();
   //hoy=hoy.toDateString()
   console.log("TODAY (hoy)")
   console.log(hoy)
   console.log("-------------")

   //console.warn("SEIF:")
   var excludeDateEdit = "{{getPatchesPk|safe}}";
   //console.warn(excludeDateEdit);
   //console.warn(typeof(excludeDateEdit));

   excludeDateEdit=excludeDateEdit.substr(0,excludeDateEdit.indexOf(' '));

   var scheduledDate = new Date(excludeDateEdit);
   //scheduledDate=scheduledDate.toDateString()
   console.log("LATEST SCHEDULED_DATE (scheduledDate)")
   console.log(scheduledDate);
   console.log("-------------")

   var createdDate = "{{createdDate|safe}}";
   createdDate=createdDate.substr(0,createdDate.indexOf(' '));

   var startDate = new Date(createdDate);
   //var startDate = new Date("{{createdDate|safe}}");

   console.log("startDate")
   console.log(startDate)
   console.log("-------------")
   
   //if(scheduledDate > hoy ){
   if(scheduledDate > startDate ){
      scheduledDate=scheduledDate.addDays(2)
      document.getElementById("myInput").value = scheduledDate;
      console.log("scheduled date es mas grande");
      document.addEventListener("DOMContentLoaded", function () {
         tail.DateTime(".tail-datetime-field", {
            dateRanges: [
               {
                  start: scheduledDate,
                  //end: data.addDays(parseInt(limitdays))
                  //end: data.addDays(365)
                  
                  //end: scheduledDate.addDays(365)
                  //end: hoy.addDays(365)
                  end: startDate.addDays(365)
               }],
            dateBlacklist: false,
            viewDecades: false,
            startOpen: true,
            stayOpen: true,
            closeButton: false,
            timeMinutes: true,
            timeSeconds: false,
            timeStepMinutes: 30
         }
         );
      });
   }

   else{
      //document.getElementById("myInput").value = hoy;
      document.getElementById("myInput").value = startDate;
      console.log("hoy es mas grande");
      document.addEventListener("DOMContentLoaded", function () {
         tail.DateTime(".tail-datetime-field", {
            dateRanges: [
               {
                  //start: hoy,
                  //end: hoy.addDays(365)
                  start: startDate,
                  end: startDate.addDays(365)
               }],
            dateBlacklist: false,
            viewDecades: false,
            startOpen: true,
            stayOpen: true,
            closeButton: false,
            timeMinutes: true,
            timeSeconds: false,
            timeStepMinutes: 30
         }
         );
      });
   }
</script>

<div style="margin-bottom: 17em;"></div>
<div class="container">
   <div class="row" style="margin-bottom: 2.5em;">
      <div class="col-md-3"> </div>
      <div style="padding-top: 2em;" class="col-md-3">
         <a style="background-color:#D0D0D5" href="{% url 'exceptionsBoard' %}" class="btn btn-block">Back</a>
      </div>
      <!-- JUST CLICK ONCE -->
      <script>
         function checkForm(form){
             form.myButton.disabled = true;
             return true;
         }
     </script>
      <div style="padding-top: 2em;" class="col-md-3">
         <input name="myButton" style="margin-bottom: 1rem;" type="submit" value="Update" class="btn btn-block btn-secondary" />
      </div>
   </div>
</div>
<!-- name = database field, value = input value to db -->
</form>
</div>

{% endblock %}