{% extends 'base.html' %}

{% block content %}

<section id="showcase-inner" class="py-5 text-white">
   <div class="container">
      <div class="row text-center">
         <div class="col-md-12">
            <h1 class="display-4">Edit exception</h1>
            <i class="fa fa-clipboard fa-5x" aria-hidden="true"></i>
            <p class="lead">Manage your patches if you have struggles</p>
         </div>
      </div>
   </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
   <div class="container">
      <nav aria-label="breadcrumb">
         <ol class="breadcrumb">
            <li class="breadcrumb-item">
               <a href="{% url 'dashboard' %}">
                  <i class="fas fa-home"></i> Dashboard </a>
            </li>
            <li class="breadcrumb-item">
               <a href="{% url 'exceptionsBoard' %}">
                  <i class="fas fa-calendar-check"></i> Requests </a>
            </li>
         </ol>
      </nav>
   </div>
</section>

<script>
   /*
  var limitdays;
  $.ajax({
     async: false,
     method: "POST",
     data: {
        //limitDay: localStorage.arrayServerPatches
        limitDay: localStorage.arrayFullServers
     },
     url: 'getDaysLimit',

  }).done(function (data) { //ME DEVUELVE LOS OBJETOS ADVIOSORY RELACIONADOS AL SERVER SELECCIONADO
     //console.log(data)
     limitdays = data
  });
  */
</script>

<div class="container">

   <div style="padding-left:5em; padding-right:5em; padding-bottom:3em; margin-top:3em;" class="container">
      <div class="row"></div>
      <p>Content:</p>
      <div id="demo"
         style="background-color: lightgrey; padding: 1em; border: 1px solid grey; margin-bottom: 2em; font-style: italic;">
      </div>
      <script>
         document.getElementById("demo").innerHTML = localStorage.arrayFullServers;
      </script>
      <!-- </div> -->

      {#<form action="{% url 'exclude_server' %}" method="POST">#}
      <form action="{% url 'updateException' getException.id %}" method="POST">

         {% csrf_token %}

         <input id="content" type="hidden" name="content">

         <input id="exception_type_IDD" type="hidden" name="exception_type">

         <input id="patch_ide" type="hidden" name="patch_id">

         <input id="server_ide" type="hidden" name="server_id">

         <!-- Estos se introducen del modelo de exception -->
         <div class="form-group">
            <label for="title" class="col-form-label"><b>Title:</b><i> (Set the title that approvers can use as
                  reference)</i></label>
            <input value={{ getException.title }} style="border: 1px solid grey;" type="text" name="title"
               class="form-control" required>
         </div>
         <div class="form-group">
            <label for="justification" class="col-form-label"><b>Justification:</b><i> (Reasons you want to make an
                  exception)</i></label>
            <textarea style="border: 1px solid grey;" rows="7" name="justification" class="form-control"
               required>{{ getException.justification }}</textarea>
         </div>

         <div class="form-group">
            <label for="action_plan" class="col-form-label"><b>Action plan:</b><i> (Define steps you will execute for
                  implement the updates)</i></label>
            <textarea style="border: 1px solid grey;" rows="7" name="action_plan" class="form-control"
               required>{{ getException.action_plan }}</textarea>
         </div>

         <div class="container">
            <div class="row">
               <div class="col-md-4"></div>
               <label for="excludeDate" class="col-form-label col-md-4""><b>Exclude date:</b> <i>(This is defined by major patch criticality)</i></label>
               <div class=" col-md-4"></div>
            </div>
         </div>

   <!--     CALENDAR      -->
   <div class="container">
      <div class="row">
         <div class="col-md-4"></div>
         <input type="datetime" readonly="readonly" name="exclude_date"
            class="tail-datetime-field form-control col-md-4" autocomplete="off" required>
         <div class="col-md-4"></div>
      </div>
   </div>
</div>

<script>
   var dias = 0
</script>
<!-- probablemente truene por el "elif" -->
{% if days == 30 %}
<script>
   dias = 30
</script>
{% elif days == 90 %}
<script>
   dias = 90
</script>

{% elif days == 180 %}
<script>
   dias = 180
</script>
{% endif %}

<script type="text/javascript">
   /*
   var today = new Date();
   var dd = String(today.getDate()).padStart(2, '0');
   var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
   var yyyy = today.getFullYear();

   today = yyyy + '-' + mm + '-' + dd;
   
   var limit = new Date();
   var dd = String(limit.getDate() - 30 *86400000).padStart(2, '0');
   var mm = String(limit.getMonth() + 1).padStart(2, '0'); //January is 0!
   var yyyy = limit.getFullYear();

   limit = yyyy + '-' + mm + '-' + dd;
   
   //limitdays
   console.log(today)
   console.log(limit)
   */

   Date.prototype.addDays = function (days) {
      var date = new Date(this.valueOf());
      date.setDate(date.getDate() + days);
      return date;
   }

   var data = new Date();

   document.addEventListener("DOMContentLoaded", function () {

      tail.DateTime(".tail-datetime-field", {
         dateRanges: [
            {
               //start: new Date(2020, 5, 5),
               //start: today,
               start: data,
               //end: new Date(2020, 6, 30),
               //end: data.addDays(50)
               end: data.addDays(parseInt(dias))
               // days: true                 // This is the default
            }],
         dateStart: new Date(2018, 0, 5),
         dateBlacklist: false,
         viewDecades: false,
         //animate: false,
         startOpen: true,
         stayOpen: true,
         closeButton: false,

         timeMinutes: true,
         timeSeconds: false,
         timeStepMinutes: 30
      }
      );
   });

</script>

<div style="margin-bottom: 16em;"></div>

<div class="container">
   <div class="row">
      <div class="col-md-3"> </div>
      <div style="padding-top: 2em;" class="col-md-3">
         <a style="background-color:#D0D0D5" href="{% url 'exceptionsBoard' %}" class="btn btn-block">Back</a>
      </div>
      <div style="padding-top: 2em;" class="col-md-3">
         <input style="margin-bottom: 1rem;" type="submit" value="Update" class="btn btn-block btn-secondary" />
      </div>

   </div>
</div>

<!-- name = database field, value = input value to db -->
</form>
</div>

{% endblock %}