{% extends 'base.html' %}

{% block content %}

<script>
    //string simple
    console.log(localStorage.arrayServerPatches)
    
    //window.fecha;
    
    //testing
    //var guardado = localStorage.getItem('datos');
    //console.log('objetoObtenido: ', JSON.parse(guardado));

    //object
    //var serversObject = localStorage.getItem('data');
    //var serversObjectJSON = JSON.parse(serversObject);
    
    //console.log('object: ', JSON.parse(serversObject));  //object
    //console.log(serversObjectJSON)
    //console.log(typeof(serversObject))  //string
    //console.log(typeof(JSON.parse(serversObject))) // object
    //console.log(typeof(serversObjectJSON)) // object
</script>

<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">Select Patches</h1>
                <i class="fa fa-toolbox fa-5x" aria-hidden="true"></i>
                <p class="lead">Manage your patches if you have struggles</p>
            </div>
        </div>
    </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'dashboard' %}">
                        <i class="fas fa-home"></i> Dashboard </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'exceptionsBoard' %}">
                        <i class="fas fa-calendar-check"></i> Requests </a>
                </li>
            </ol>
        </nav>
    </div>
</section>

<section id="dashboard" class="py-4">
    <div class="container">
        <form role="form" action="" method="post" class="registration-form">
            <fieldset style="display: block;">

            <!--  PROGRESS BAR -->
                <div class="container">
                    <div class="steps">
                    <ul class="steps-container">
                        <li style="width:25%;" class="activated">
                            <div class="step">
                                <div class="step-image"><span></span></div>
                                <div class="step-current">Type of exception</div>
                                <div class="step-description">Server or patch</div>
                            </div>
                        </li>
                        <li style="width:25%;"class="activated">
                            <div class="step">
                                <div class="step-image"><span></span></div>
                                <div class="step-current">Choose server</div>
                                <div class="step-description">Select server</div>
                            </div>
                        </li>
                        <li style="width:25%;"class="activated">
                            <div class="step">
                                <div class="step-image"><span></span></div>
                                <div class="step-current">Choose patch</div>
                                <div class="step-description">Select patches</div>
                            </div>
                        </li>
                        <li style="width:25%;">
                            <div class="step">
                                <div class="step-image"><span></span></div>
                                <div class="step-current">Inquiry</div>
                                <div class="step-description">Form</div>
                            </div>
                        </li>
                    </ul>
                    <div class="step-bar" style="width: 65%;"></div>
                    </div>
                </div>

                <div style="margin-bottom: 4em;"></div>
                <div>Choose patch:

                    {#<form action="{% url 'exclude_server' %}" method="POST">#}
                    <form>
                        <select data-placeholder="Select patch/patches" style="width:50em;" id="selectPatches_patch"
                            multiple="multiple"></select>

                        <div style="margin-bottom: 1em;"></div>

                        <script>
                            
                            var arrayPatchesPatches = [];

                            Array.prototype.remove = function () {
                                var what, a = arguments, L = a.length, ax;
                                while (L && this.length) {
                                    what = a[--L];
                                    while ((ax = this.indexOf(what)) !== -1) {
                                        this.splice(ax, 1);
                                    }
                                }
                                return this;
                            };

                            $(document).ready(function () {
                                
                                //console.log(localStorage.arrayServerPatches)
                                //var selectedServer = JSON.stringify(localStorage.arrayServerPatches);
                                
                                //var selectedServer = JSON.stringify(serversObjectJSON);

                                //REGEXP QUITAR CORCHETES Y COMILLAS (CLEAR DATA)
                                //selectedServer = selectedServer.replace(/"/g, '');
                                //selectedServer = selectedServer.replace(/[\[\]']+/g, '')

                                //console.log(selectedServer)
                                
                                $.ajax({

                                    method: "POST",
                                    
                                    data: {
                                        //simple string
                                        selectedServer: localStorage.arrayServerPatches
                                        
                                        //object
                                        //selectedServer: serversObjectJSON
                                        //object
                                        //selectedServer: selectedServer
                                    },
                                    
                                    url: 'filterPatches',
                                })
                                    .done(function (data) { //ME DEVUELVE LOS OBJETOS ADVIOSORY RELACIONADOS AL SERVER SELECCIONADO
                                        
                                        //var x = JSON.stringify(data);

                                        //REGEXP QUITAR CORCHETES Y COMILLAS (CLEAR DATA)
                                        //x = x.replace(/PATCHES/g, '');
                                        //x = x.replace(/<\[\>']+/g, '')
                                        //x = x.replace(/QuerySet/g, '');
                                        //console.log(x)
                                        console.log("ENTRAN LOS DATOS: ") //string
                                        console.log(typeof(data)) //string
                                        console.log(data)

                                        var patchesOptions;

                                        //data = JSON.stringify(data);

                                        data = JSON.parse(data); //LOS DATOS LOS CONVERTIMOS A JSON, para poder usar el each

                                        console.log("DATOS PARSEADOS A JSON: ") //string
                                        console.log(typeof(data)) //object
                                        console.log(data)

                                        $.each(data, function (key, index, value) {
                                            //key representa cada objeto del json (0, 1, 2...), index es el contenido de cada objeto.
                                            //patchesOptions += "<option value='" + index.fields.pk + "' >" + index.fields.description + "</option>";
                                            patchesOptions += "<option value='" + index.fields.pk + "' >" + index.fields.server + ": " + index.fields.advisory + "</option>";
                                            //patchesOptions += "<option>" + index.fields.patch.server + ": " + index.fields.patch.advisory + "</option>";
                                            
                                            //console.log(index);
                                        });

                                        // AGREGA LOS PARCHES A LA DROP-DOWN-LIST
                                        $('#selectPatches_patch').html(patchesOptions);

                                        //AL MOMENTO EN QUE EL CLIENTE DA CLICK EN UNA PARCHE (AGREGA).
                                        $('#selectPatches_patch').on('select2:select', function (e) {
                                            var data = e.params.data;
                                            arrayPatchesPatches.push(data.text);
                                            console.log(arrayPatchesPatches);

                                            var savePatches = arrayPatchesPatches
                                            localStorage.arrayPatchesPatches = savePatches;
                                        });

                                        //AL MOMENTO EN QUE EL CLIENTE DA CLICK EN UNA PARCHE (ELIMINA).
                                        $('#selectPatches_patch').on('select2:unselect', function (e) {
                                            var data = e.params.data;
                                            arrayPatchesPatches.remove(data.text);
                                            console.log(arrayPatchesPatches);

                                            var savePatches = arrayPatchesPatches
                                            localStorage.arrayPatchesPatches = savePatches;
                                        });
                                    });
                            });


                            //MOSTRAR EL PLACE HOLDER
                            $(document).ready(function () {
                                $("#selectPatches_patch").select2({
                                    placeholder: function () {
                                        $(this).data('placeholder');
                                    }
                                });
                            });
                        </script>
                      
                        <div class="container">
                            <div class="row">
                               <div style="padding-top: 2em;" class="col-md-3">
                                  <a style="background-color:#D0D0D5"href="{% url 'selectServerPatch' %}" class="btn btn-block">Back</a>
                               </div>
                               <div style="padding-top: 2em;" class="col-md-3">
                                <a href="{% url 'inquiryPatches' %}" class="btn btn-primary btn-block">Next</a>
                               </div>
                               <div class="col-md-6"> </div>
                            </div>
                         </div>

                    </form>

                </div>
            </fieldset>
        </form>
    </div>
</section>

{% endblock %}