{% extends 'base.html' %}

{% block content %}

<script>
    console.log(localStorage.arrayServerPatches)
</script>

<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">Select PATCHES</h1>
                <p class="lead">Manage your patches if you have struggles</p>
            </div>
        </div>
    </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'dashboard' %}">
                        <i class="fas fa-home"></i> Dashboard </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'exceptionsBoard' %}">
                        <i class="fas fa-calendar-check"></i> Requests </a>
                </li>
            </ol>
        </nav>
    </div>
</section>

<section id="dashboard" class="py-4">
    <div class="container">
        <form role="form" action="" method="post" class="registration-form">
            <fieldset style="display: block;">
                <div style="margin-bottom: 2em; margin-top: 2em;" class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width:77%; ">
                       77%
                    </div>
                  </div>

                <div class="form-top">
                    <div class="form-top-left">
                        <p>What do you want to make an exception?:</p>
                    </div>
                </div>
                <div class="form-bottom">

                    PARCHES

                    {#<form action="{% url 'exclude_server' %}" method="POST">#}
                    <form>
                        <select data-placeholder="Select patch/patches" style="width:27em;" id="selectPatches_patch"
                            multiple="multiple"></select>

                        <div style="margin-bottom: 1em;"></div>

                        <script>

                            var arrayPatchesPatches = [];

                            Array.prototype.remove = function () {
                                var what, a = arguments, L = a.length, ax;
                                while (L && this.length) {
                                    what = a[--L];
                                    while ((ax = this.indexOf(what)) !== -1) {
                                        this.splice(ax, 1);
                                    }
                                }
                                return this;
                            };

                            $(document).ready(function () {

                                var selectedServer = JSON.stringify(localStorage.arrayServerPatches);

                                //REGEXP QUITAR CORCHETES Y COMILLAS (CLEAR DATA)
                                selectedServer = selectedServer.replace(/"/g, '');
                                selectedServer = selectedServer.replace(/[\[\]']+/g, '')

                                //console.log(selectedServer)

                                $.ajax({
                                    method: "POST",
                                    data: {
                                        selectedServer: selectedServer
                                        //jsonz: jsonz
                                    },
                                    url: 'filterPatches',
                                })
                                    .done(function (data) { //ME DEVUELVE LOS OBJETOS ADVIOSORY RELACIONADOS AL SERVER SELECCIONADO

                                        var patchesOptions;

                                        data = JSON.parse(data); //LOS DATOS LOS CONVERTIMOS A JSON, para poder usar el each

                                        $.each(data, function (key, index) {
                                            //key representa cada objeto del json (0, 1, 2...), index es el contenido de cada objeto.
                                            patchesOptions += "<option value='" + index.fields.pk + "' >" + index.fields.description + "</option>";

                                            console.log(index);
                                        });

                                        // AGREGA LOS PARCHES A LA DROP-DOWN-LIST
                                        $('#selectPatches_patch').html(patchesOptions);

                                        //AL MOMENTO EN QUE EL CLIENTE DA CLICK EN UNA PARCHE (AGREGA).
                                        $('#selectPatches_patch').on('select2:select', function (e) {
                                            var data = e.params.data;
                                            arrayPatchesPatches.push(data.text);
                                            console.log(arrayPatchesPatches);

                                            var savePatches = arrayPatchesPatches
                                            localStorage.arrayPatchesPatches = savePatches;
                                        });

                                        //AL MOMENTO EN QUE EL CLIENTE DA CLICK EN UNA PARCHE (ELIMINA).
                                        $('#selectPatches_patch').on('select2:unselect', function (e) {
                                            var data = e.params.data;
                                            arrayPatchesPatches.remove(data.text);
                                            console.log(arrayPatchesPatches);

                                            var savePatches = arrayPatchesPatches
                                            localStorage.arrayPatchesPatches = savePatches;
                                        });
                                    });
                            });


                            //MOSTRAR EL PLACE HOLDER
                            $(document).ready(function () {
                                $("#selectPatches_patch").select2({
                                    placeholder: function () {
                                        $(this).data('placeholder');
                                    }
                                });
                            });
                        </script>

                        <a href="{% url 'inquiryPatches' %}" class="btn btn-primary btn-block">Next</a>

                    </form>

                </div>
            </fieldset>
        </form>
    </div>
</section>

<section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <i class="fas fa-comment fa-4x mr-4"></i>
                <hr>
                <h2>Risk management tool</h2>
                <br>
                <h4>Request the exclusion for a certain period either due to a business need or interferences between
                    applications.</h4>
            </div>
        </div>
    </div>
</section>

{% endblock %}