{% extends 'base.html' %}

{% block content %}

<script>
    //string simple
    console.log(localStorage.arrayServerPatches)
</script>

<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">Select Patches</h1>
                <i class="fa fa-toolbox fa-5x" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'dashboard' %}">
                        <i class="fas fa-home"></i> Dashboard </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'exceptionsBoard' %}">
                        <i class="fas fa-calendar-check"></i> Requests </a>
                </li>
            </ol>
        </nav>
    </div>
</section>

<section id="dashboard" class="py-4">
    <div class="container">
        <!--  PROGRESS BAR -->
        <div class="container">
            <div class="steps">
            <ul class="steps-container">
                <li style="width:25%;" class="activated">
                    <div class="step">
                        <div class="step-image"><span></span></div>
                        <div class="step-current">Type of exception</div>
                        <div class="step-description">Server or patch</div>
                    </div>
                </li>
                <li style="width:25%;"class="activated">
                    <div class="step">
                        <div class="step-image"><span></span></div>
                        <div class="step-current">Choose server</div>
                        <div class="step-description">Select server</div>
                    </div>
                </li>
                <li style="width:25%;"class="activated">
                    <div class="step">
                        <div class="step-image"><span></span></div>
                        <div class="step-current">Choose patch</div>
                        <div class="step-description">Select patches</div>
                    </div>
                </li>
                <li style="width:25%;">
                    <div class="step">
                        <div class="step-image"><span></span></div>
                        <div class="step-current">Inquiry</div>
                        <div class="step-description">Form</div>
                    </div>
                </li>
            </ul>
            <div class="step-bar" style="width: 76%;"></div>
            </div>
        </div>

        <div style="margin-bottom: 4em;"></div>
        <div>Choose patch:
            <form action="{% url 'inquiryPatches' %}">
                {% csrf_token %}
                <select data-placeholder="Select patch/patches" style="width:59.5em;" id="selectPatches_patch" multiple="multiple" required></select>
                <br>
                <i style="font-size: 17px;">If doesn't appear patches, means that all patches of selected servers have been requested for risk exceptions.</i>
                <div style="margin-bottom: 1em;"></div>
                <style>
                    .select2-results__option {
                        font-size: 15.5px;
                    }
                    .select2-container--default .select2-selection--multiple .select2-selection__choice {
                        font-size: 15.5px;
                    }
                </style>

                <script>
                    var arrayPatchesPatches = [];

                    Array.prototype.remove = function () {
                        var what, a = arguments, L = a.length, ax;
                        while (L && this.length) {
                            what = a[--L];
                            while ((ax = this.indexOf(what)) !== -1) {
                                this.splice(ax, 1);
                            }
                        }
                        return this;
                    };

                    $(document).ready(function () {
                        $.ajax({
                            async: false,
                            method: "POST",
                            data: {
                                //simple string
                                selectedServer: localStorage.arrayServerPatches
                            },
                            url: 'filterPatches',
                        }).done(function (data) { //ME DEVUELVE LOS OBJETOS ADVIOSORY RELACIONADOS AL SERVER SELECCIONADO
                            var patchesOptions;
                            data = JSON.parse(data); //LOS DATOS LOS CONVERTIMOS A JSON, para poder usar el each
                            $.each(data, function (key, index) {

                            //-------------------------------get hostname -------------------------------
                                var hostname
                                var hostnames = []
                                
                                $.ajax({
                                    async: false,
                                    url: 'getHostnames',
                                    method: 'POST',
                                    dataType: "text",
                                    data: {
                                        serverID: index.fields.server
                                    },
                                    
                                    success: function (host_name) {
                                        hostname = JSON.parse(host_name);                                        
                                        $.each(hostname,function(key,index){
                                            hostnames.push(index.fields.hostname);
                                        })
                                    }
                                });

                            //-------------------------------get description -------------------------------
                                var description
                                var descriptions = []
                                var crits = []
                                
                                $.ajax({
                                    async: false,
                                    url: 'getAdvisoriesDesc',
                                    method: 'POST',
                                    dataType: "text",
                                    data: {
                                        advisoryDescription: index.fields.advisory
                                    },
                                    
                                    success: function (advisory_description) {
                                    description = JSON.parse(advisory_description);
                                        $.each(description,function(key,index){
                                            descriptions.push(index.fields.description);
                                            crits.push(index.fields.criticality);
                                        })
                                    }
                                });
                                //patchesOptions += "<option>" + "(" + index.pk + ")" + hostnames + ":[" + descriptions + "]" + "</option>";
                                patchesOptions += "<option>" + "(" + index.pk + ")" + hostnames + ":[" + descriptions + "]" + " criticality: " + crits + "</option>";
                            });
                            // AGREGA LOS PARCHES A LA DROP-DOWN-LIST
                            $('#selectPatches_patch').html(patchesOptions);                                       

                            //AL MOMENTO EN QUE EL CLIENTE DA CLICK EN UNA PARCHE (AGREGA).
                            $('#selectPatches_patch').on('select2:select', function (e) {
                                var data = e.params.data;
                                arrayPatchesPatches.push(data.text);
                                console.log(arrayPatchesPatches);

                                var savePatches = arrayPatchesPatches
                                localStorage.arrayPatchesPatches = savePatches;
                            });

                            //AL MOMENTO EN QUE EL CLIENTE DA CLICK EN UNA PARCHE (ELIMINA).
                            $('#selectPatches_patch').on('select2:unselect', function (e) {
                                var data = e.params.data;
                                arrayPatchesPatches.remove(data.text);
                                console.log(arrayPatchesPatches);

                                var savePatches = arrayPatchesPatches
                                localStorage.arrayPatchesPatches = savePatches;
                            });
                        });
                    });

                    //MOSTRAR EL PLACE HOLDER
                    $(document).ready(function () {
                        $("#selectPatches_patch").select2({
                            placeholder: function () {
                                $(this).data('placeholder');
                            }
                        });
                    });
                </script>
                <div class="container">
                    <div class="row">
                        <div style="padding-top: 2em;" class="col-md-3">
                            <a style="background-color:#D0D0D5"href="{% url 'selectServerPatch' %}" class="btn btn-block">Back</a>
                        </div>
                        <div style="padding-top: 2em;" class="col-md-3">
                            {#<a href="{% url 'inquiryPatches' %}" class="btn btn-primary btn-block">Next</a>#}
                            <button class="btn btn-primary btn-block">Next</button>
                        </div>
                        <div class="col-md-6"> </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}