{% extends 'base.html' %}

{% block content %}

<section id="showcase-inner" class="py-5 text-white">
   <div class="container">
      <div class="row text-center">
         <div class="col-md-12">
            <h1 class="display-4">Type of exception</h1>
         </div>
      </div>
   </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
   <div class="container">
      <nav aria-label="breadcrumb">
         <ol class="breadcrumb">
            <li class="breadcrumb-item">
               <a href="{% url 'dashboard' %}">
                  <i class="fas fa-home"></i> Dashboard </a>
            </li>
            <li class="breadcrumb-item">
               <a href="{% url 'exceptionsBoard' %}">
                  <i class="fas fa-calendar-check"></i> Requests </a>
            </li>
         </ol>
      </nav>
   </div>
</section>

<section id="dashboard" class="py-4">
   <div class="container">
      <form role="form" action="" method="post" class="registration-form">
         {% csrf_token %}
         <fieldset style="display: block;">
            <div class="form-top">
               <div class="form-top-left">
               </div>
            </div>

            <div class="container">
               <div class="steps">
                  <ul class="steps-container">
                     <li style="width:33%;" class="activated">
                        <div class="step">
                           <div class="step-image"><span></span></div>
                           <div class="step-current">Type of exception</div>
                           <div class="step-description">Server or patch</div>
                        </div>
                     </li>
                     <li style="width:33%;">
                        <div class="step">
                           <div class="step-image"><span></span></div>
                           <div class="step-current"> ______</div>
                           <div class="step-description"></div>
                        </div>
                     </li>
                     <li style="width:33%;">
                        <div class="step">
                           <div class="step-image"><span></span></div>
                           <div class="step-current">Inquiry</div>
                           <div class="step-description">Form</div>
                        </div>
                     </li>
                  </ul>
                  <div class="step-bar" style="width: 33%;"></div>
               </div>
            </div>

            <div style="margin-bottom: 5em;"></div>
            
            <div class="container">
               <div class="row">
                  <div class="col-md-2"> </div>
                  <div style="padding: 2em;" class="col-md-8">
                     <!-- <p>Create an exception on your complete server patches</p> -->
                     <p><i>Exception will include all patches in selected servers.</i></p>
                     <a href="{% url 'selectServers' %}" class="btn btn-primary btn-lg btn-block">Server</a>
                  </div>
                  <div class="col-md-2"> </div>
               </div>
            </div>

            <div class="container">
               <div class="row">
                  <div class="col-md-2"> </div>
                  <div style="padding: 2em;" class="col-md-8">
                     <p><i>Create an exception on specific patches</p></i>
                     <a href="{% url 'selectServerPatch' %}" class="btn btn-primary btn-lg btn-block">Patch</a>
                  </div>
                  <div class="col-md-2"> </div>
               </div>
            </div>

         </fieldset>
      </form>
   </div>
</section>

{% endblock %}